<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampl.ReplyMapper">
	<!-- 댓글 목록 -->
	<select id="list" resultType="ReplyVo">
		select * from tbl_marketboard_reply
		where mbno = #{mbno}
		order by mbrno desc
	</select>
	
	<!-- 댓글 추가 -->	
	<insert id="insert">
		insert into tbl_marketboard_reply
			(mbrno, mbno, mbrcontents, mbrwriter)
		values (seq_reply_mbrno.nextval, #{mbno}, #{mbrcontents}, #{mbrwriter})
	</insert>	
	
	<!-- 댓글 수정 -->
	<update id="update">
		update tbl_marketboard_reply set
			mbrcontents = #{mbrcontents},
			mbrwriter = #{mbrwriter},
			updatedate = sysdate
		where mbrno = #{mbrno} 
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from tbl_marketboard_reply
		where mbrno = #{mbrno}
	</delete>
	
	<!-- 수정날짜 얻기 -->
	<select id="getUpdatedate" resultType="java.sql.Timestamp">
		select updatedate from tbl_marketboard_reply
		where mbrno = #{mbrno} 
	</select>
	
</mapper>